<!--start nav bar -->
        <div class="container">
                <header class="main">
                    <nav>
                        <div id="nav_bar">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/formula/create">Create New Formula</a></li>
                                <li><a class='active' href="/formula/select">Calculate Data</a></li>
                                <li><a class='active' href="/vis1">Single Station Info</a></li>
                                <li><a class='active' href="/vis2">Multiple Stations Compare</a></li>
                                <li><a class='active' href="/vis3">Area Density</a></li>
                            </ul>
                        </div>
                    </nav>
                </header>
            </div>
        <!--end nav bar -->