{{!-- <!--start nav bar -->
        <div class="container">
                <header class="main">
                    <nav>
                        <div id="nav_bar">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/formula/create">Create New Formula</a></li>
                                <li><a class='active' href="/formula/select">Calculate Data</a></li>
                                <li><a class='active' href="/vis1">Single Station Info</a></li>
                                <li><a class='active' href="/vis2">Multiple Stations Compare</a></li>
                                <li><a class='active' href="/vis3">Area Density</a></li>
                            </ul>
                        </div>
                    </nav>
                </header>
            </div>
        <!--end nav bar --> --}}


<!--Start Nav bar -->
<nav class="navbar navbar-inverse navbar-fixed-top pmd-navbar pmd-z-depth">

	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a href="javascript:void(0);" data-target="basicSidebar" data-placement="left" data-position="slidepush" is-open="true" is-open-width="1200" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pull-left margin-r8 pmd-sidebar-toggle"><i class="material-icons md-light">menu</i></a>	
		  <a href="index.html" class="navbar-brand"></a>
		</div>
	</div>

</nav><!--End Nav bar -->