<!-- Sidebar Starts -->
<div class="pmd-sidebar-overlay"></div>

<!-- Left sidebar -->
<aside id="basicSidebar" class="pmd-sidebar  sidebar-default pmd-sidebar-slide-push pmd-sidebar-left pmd-sidebar-open bg-fill-darkblue sidebar-with-icons"
 role="navigation">
	<ul class="nav pmd-sidebar-nav">

		<li>
			<a class="pmd-ripple-effect" href="/">
				<i class="media-left media-middle">
					<svg version="1.1" x="0px" y="0px" width="18px" height="0px" viewBox="288.64 363.118 18 12.479" enable-background="new 288.64 363.118 18 12.479"
					 xml:space="preserve">
						<path>
							<i class="material-icons pmd-sm">home</i>
						</path>
					</svg>
				</i>
				<span class="media-body">Home</span>
			</a>
		</li>

		<li class="dropdown pmd-dropdown">
			<a aria-expanded="false" data-toggle="dropdown" class="btn-user dropdown-toggle media" data-sidebar="true" href="javascript:void(0);">
				<i class="media-left media-middle">
					<svg version="1.1" x="0px" y="0px" width="18px" height="0px" viewBox="0 0 18 18.001" enable-background="new 0 0 18 18.001"
					 xml:space="preserve">
						<path>
							<i class="material-icons pmd-sm">insert_chart</i>
						</path>
					</svg>
				</i>
				<span class="media-body">Visualizations</span>
				<div class="media-right media-bottom">
					<i class="dic-more-vert dic"></i>
				</div>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a href="updatedVis1">Single Station</a>
				</li>
				<li>
					<a href="updatedVis2">Comparison Stations</a>
				</li>
				<li>
					<a href="updatedVis3">Area Density</a>
				</li>
                <li><a href="vis4">Vis4</a></li>
			</ul>
		</li>

		<li>
			<a class="pmd-ripple-effect" href="analytics">
				<i class="media-left media-middle">
					<svg version="1.1" x="0px" y="0px" width="18px" height="0px" viewBox="288.64 363.118 18 12.479" enable-background="new 288.64 363.118 18 12.479"
					 xml:space="preserve">
						<path>
							<i class="material-icons pmd-sm">gesture</i>
						</path>
					</svg>
				</i>
				<span class="media-body">Analytics</span>
			</a>
		</li>
		<li>
			<a class="pmd-ripple-effect" href="formula">
				<i class="media-left media-middle">
					<svg version="1.1" id="Layer_1" x="0px" y="0px" width="15.3px" height="0px" viewBox="289.99 337.535 15.3 18" enable-background="new 289.99 337.535 15.3 18"
					 xml:space="preserve">
						<path>
							<i class="material-icons pmd-sm">functions</i>
						</path>
					</svg>
				</i>
				<span class="media-body">Formula</span>
			</a>
		</li>

	</ul>
</aside>
<!-- End Left sidebar -->
<!-- Sidebar Ends -->