
    <head>
        <title>FastLanes</title>
        <meta charset="utf-8">
        <link rel='stylesheet' href='style.css'>
        <script src="http://d3js.org/d3.v3.min.js"></script>
    </head>

    <body>
        <!-- start content -->
        <div id="content">
            <div class="container">
               <p>Create Formula</p>
            </div>
        </div>
        <!-- end content -->

        <footer class="main">
            <div class="container">
            </div>
        </footer>

    </body>
