<style>
    body {}
</style>

<div id="particles-js">
    <div>
        <h2 margin-top="20%" align="center" style="color: #1f2f46; font-size:100px; font-family: 'Cabin Sketch', cursive;">FastLanes</h2>

        <p align="center" style="color: #1f2f46; font-size:25px; font-family: 'Gaegu', cursive;">FastLanes is a framework for creating visualizations and processing multi-source public transportation data.
        </p>
        <p align="center" style="color: #1f2f46; font-size:25px; font-family: 'Gaegu', cursive;">
            The framework will be used by scientists and developers to create visualizations and by city and transportation planners
            to control manage and make decision regarding public transportation.
        </p>
    </div>
</div>

<!-- scripts -->
<script src="assets/js/particles.min.js"></script>

<script>
    particlesJS.load('particles-js', 'assets/js/particlesjs-config.json', function () {
        console.log('callback - particles.js config loaded');
    });
</script>