

/* bar chart CSS */
.bar{
  fill: steelblue;
}

.bar:hover{
  fill: rgb(233, 204, 38);
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.svg{
  margin-left: 50px;
}

/* navigation bar CSS */
#nav_bar,
#nav_bar ul,
#nav_bar ul li,
#nav_bar ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#nav_bar:after,
#nav_bar > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#nav_bar {
  width: auto;
  border-bottom: 3px solid rgb(233, 204, 38);
  font-family: Raleway, sans-serif;
  line-height: 1;
}

#nav_bar ul {
  background: #ffffff;
}

#nav_bar > ul > li {
  float: left;
}

#nav_bar.align-center > ul {
  font-size: 0;
  text-align: center;
}

#nav_bar.align-center > ul > li {
  display: inline-block;
  float: none;
}

#nav_bar.align-right > ul > li {
  float: right;
}

#nav_bar.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}

#nav_bar > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}

#nav_bar > ul > li.active > a,
#nav_bar > ul > li:hover > a,
#nav_bar > ul > li > a:hover {
  color: #ffffff;
}

#nav_bar > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}


#nav_bar > ul > li:hover > a:after,
#nav_bar > ul > li > a:hover:after,
#nav_bar > ul > li.active > a.active{
  background-color: rgb(233, 204, 38);
}




/* D3 bar CSS */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 3px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

/* Calculate Data CSS */
.map-container {
  float: left;
  width: 60%;
}

.map-container > .btn-container > button {
  margin: 10px;
  position: relative;
  background-color: white;
  color: black;
  border: 2px solid rgb(193, 206, 240);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 12px;
}

.map-container > .btn-container > button:hover {
  background-color: rgb(193, 206, 240);
  border: 3px solid rgb(193, 206, 240);
  color: black;
}

#btn-calculate {
  float: left;
}

#btn-clear {
  float: right;
}

#map {
  width: 600px;
  height: 350px;
  margin: 20px;
}


.properties-container {
  font-family: Raleway, sans-serif;
  margin-left: 10px;
  padding-left: 10px;
}

.select-formula , .select-date , .end-date , .select-time {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

input[type="date"]::-webkit-clear-button {
  display: none;
}

input[type="date"]::-webkit-inner-spin-button { 
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}

input[type="date"] , input[type="time"]{
  appearance: none;
  -webkit-appearance: none;
  color: #95a5a6;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 14px;
  border:1px solid #ecf0f1;
  background:#ecf0f1;
  padding:5px;
  display: inline-block !important;
  visibility: visible !important;
}

input[type="date"], focus {
  color: #95a5a6;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

select.formulas {
  -webkit-appearance: default-button;
  border:1px solid #ecf0f1;
  -webkit-box-shadow: none;
  -webkit-border-radius: none;
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-color:#ecf0f1;
  color: #555;
  font-size: 14px;
  margin: 10px;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
}



